In [1]:
import pandas as pd

In [19]:
df_excel = pd.read_excel(r'./exercises/convoy.xlsx', sheet_name='Vehicles')

In [20]:
df_excel.head(10)

  vehicle_id engine_capacity fuel_consumption maximum_load
0          2             200    fuel cons. 25      tons 14
1          4            220l               55           22
2        n.8             280  liter per km 69       16 ton
3         16             100              34l           24

In [9]:
df_excel.to_csv(r'./exercises/this is a new csv file.csv')

In [18]:
print(df_excel.shape[0])

4